extends layout

block content
	h2 Enemies status info
	for player, i in they
		hr
		h3(style=player.isAlive ? "color: black;" : "color: red;") Enemy #{player.getIp()}
		- var text= player.isAlive ? "alive" : "killed at #{player.timeOfDeath}";
		ul
			li Status: #{text}
			li Shots: #{player.shootCount}