extends layout

block content
	h2 Server status
	hr
	p
		| Hitted cells: 
		b #{player.hitCount}
	p
		| Server status: 
		if player.isAlive
			b alive
		else
			b killed at #{(player.timeOfDeath || "").toString()}
	p
		| Total requests: 
		b #{player.spyReqCount + player.shotReqCount - 0}
	p
		| Spy requests: 
		b #{player.spyReqCount}
	p
		| Shoots: 
		b #{player.shotReqCount}